extends ./layout/index

block contenido
    main.container.mt-5 
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus gravida quis blandit turpis cursus in hac habitasse. Fermentum iaculis eu non diam phasellus vestibulum. Non blandit massa enim nec. Eget arcu dictum varius duis at consectetur lorem donec massa. Vitae purus faucibus ornare suspendisse sed nisi. Elit eget gravida cum sociis natoque. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum. Gravida quis blandit turpis cursus in. Eget arcu dictum varius duis at.

                p Amet porttitor eget dolor morbi non arcu risus quis varius. Auctor augue mauris augue neque gravida in fermentum. Donec enim diam vulputate ut pharetra sit amet aliquam id.

                p Augue ut lectus arcu bibendum at varius vel pharetra vel. Velit scelerisque in dictum non consectetur a erat nam. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Egestas quis ipsum suspendisse ultrices gravida dictum. Erat velit scelerisque in dictum non consectetur. Purus in mollis
            
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Erat velit scelerisque in dictum non consectetur. Purus in mollis

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Erat vels celerisque in dictum non consectetur. Purus in mollis


                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Erat vel scelerisque in dictum non consectetur. Purus in mollis
